<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <img src="img/wiredLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Wired ∙ Web Scrapper
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/articles">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>

{{!-- Alert element --}}
	<div class="alert alert-danger collapse mt-2" role="alert">
		<a href="#" class="close">&times;</a>
		<p id="alert-msg"></p>
	</div>

<div id="wrapper">
  <div class="row">
    <div class="col">
      {{!-- <h1>Most Popular</h1> --}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="articles">
        <div class="card-columns">
          {{#each articles}}
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
              <img class="card-img-top" src="{{this.imageURL}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" data-id={{this._id}}>{{this.headline}}</h5>
                <p class="card-text">{{this.summary}}</p>
                <p class="card-text">{{this.articleDate}}</p>
                <a href="{{this.link}}" class="card-link">Link to Article</a>
                <span style="float:right">
                {{#if this._id}}
                  <i class="far fa-edit show-note" data-id="{{this._id}}" data-headline="{{this.headline}}" data-toggle="modal" data-target="#noteModal"></i>
                  <i class="far fa-trash-alt delete-article" data-id="{{this._id}}"></i>
                {{else}}
                  <i class="fas fa-plus add-article" data-headline="{{this.headline}}" data-link="{{this.link}}" data-summary="{{this.summary}}" data-imageURL="{{this.imageURL}}" data-articleDate="{{this.articleDate}}"></i>
                {{/if}}
                </span>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div id="notes"></div>
</div>

<div id="noteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="savenote" class="btn btn-primary" data-id="" data-dismiss="modal">Save comment</button>
      </div>
    </div>
  </div>
</div>
