<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="img/wiredLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Wired ∙ Web Scrapper
  </a>
  <button id="scrape" class="btn btn-outline-white text-primary my-2 my-sm-0" type="submit">Scrape</button>
</nav>

<div id="wrapper">
  <div class="row">
    <div class="col">
      <h1>Most Popular</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="articles">
        <div class="card-columns">
        {{#each articles}}
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img class="card-img-top" src="{{this.imageURL}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" data-id={{this._id}}>{{this.headline}}</h5>
              <p class="card-text">{{this.summary}}</p>
              <p class="card-text">{{this.articleDate}}</p>
              <a href="{{this.link}}" class="card-link">Link to Article</a>
              <span>
                <i class="fas fa-ellipsis-v more-info" data-id= "{{this._id}}" data-headline="{{this.headline}}" data-toggle="modal" data-target="#noteModal" style="float:right"></i>
              </span>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div id="notes"></div>
</div>

<div id="noteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    {{!-- Modal content --}}
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modal.title}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" id="submitTest" class="btn btn-dark" data-dismiss="modal" data-key="">Submit</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

